.ui.icon.input{
    width: 950px;
    height: 36px;
    float: left;
    margin-left: 100px;
}

.Banner{
    float: left;
    margin: auto ;
}
.post, .loginButton{
    height: 36px;
    float: left;
    margin-left: 20px;
    border: none;
    border-radius: 5px;
    padding:10px 15px;
    background-color: rgb(212, 211, 211);
}


.header{
    background-color:rgb(241, 202, 255);
    text-align: center;
    margin-top: 1px;
    height: 40px;
}