.link {
    width:30%;
    margin-left: 600px;
    padding-top: 10px;

}
.title2{
    float: left;
    margin: auto ;
    margin-top: 50px;
    margin-left: 40px;
}

.sub{
    margin-left: 50px;
    margin-top: 2px;
    font-family: inherit;
    text-transform: uppercase;
    font-weight: 800;
    
}

.header2{
    background-color:rgb(195, 153, 210);
    text-align: center;
    margin-top: 50px;
    height: 150px;
}
input [type="text"]{
    background-color: black;
}